# Codebook

enlace al repositorio: https://github.com/angelargd8/lab1-ds

In [104]:
import pandas as pd
import numpy as np
import sys
import os
import lxml

In [105]:

#cargar el archivo
file = "./data/Estadisticas_historicas_comercializacion.xlsx"

#ver las hojas del archivo
xls = pd.ExcelFile(file)
sheet_names = xls.sheet_names
sheet_names

['IMPORTACION', 'COSTO IMPORTACION', 'CONSUMO', 'EXPORTACION']

In [106]:
#cargar las hojs que nos interesan que son las de importacion y la de consumo

importacion_df = pd.read_excel(file, sheet_name='IMPORTACION')
consumo_df = pd.read_excel(file, sheet_name="CONSUMO")

## Analisis Exploratorio

In [107]:
#exploracion de datos

#ver las primeras filas
importacion_head = importacion_df.head()
consumo_head = consumo_df.head()

importacion_head

consumo_head

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Unidad: Barril (42 galones),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
#limpiar a la primera fila que tenga fecha 

def clean(sheet):
    raw_df = pd.read_excel(file, sheet_name=sheet)
    #encontrar el indice del encabezado
    header_idx = raw_df[raw_df.apply(lambda row: row.astype(str).str.contains("Fecha").any(), axis=1)].index[0]
    df= pd.read_excel(file, sheet_name=sheet, skiprows=header_idx )
    return df

importacion_clean_df = clean('IMPORTACION')
consumo_clean_df = clean('CONSUMO')

In [109]:
#ver las primeras filas
importacion_head = importacion_clean_df.head()
consumo_head = consumo_clean_df.head()

importacion_head

consumo_head

,Unidad: Barril (42 galones),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gas natural,...,Kerosina,Mezclas\noleosas,Naftas,PetCoke,Petróleo crudo,Solventes,Butano,Diesel alto azufre,Orimulsión,Total
1,2000-01-01 00:00:00,0,48446,296766.99,0,0,0,0,194410.47619,NaN,...,64026.09,0,0,0,0,0,0,634667.06,0,1750544.63619
2,2000-02-01 00:00:00,0,50597,328116.44,0,0,0,0,174710.552381,NaN,...,62660.3,0,0,0,0,0,0,642380.66,0,1773220.222381
3,2000-03-01 00:00:00,0,27593,368589.63,0,0,0,0,189234.066667,NaN,...,61361.99,0,0,0,0,0,0,699807.25,0,1909498.786667
4,2000-04-01 00:00:00,0,53794,396300.47,0,0,0,0,174330.607143,NaN,...,61814.32,0,0,0,0,0,0,586803.98,0,1800932.857143

In [110]:


print("importacion:")
#ajustar nombers de las columanas
importacion_clean_df.columns = importacion_clean_df.iloc[0] #usar la primera fila de encabezado
importacion_clean_df = importacion_clean_df[1:] #quitar la fila
# importacion_clean_df =importacion_clean_df.columns.str.strip() #quitar los espacios


print("consumo:")
consumo_clean_df.columns = consumo_clean_df.iloc[0] #usar la primera fila de encabezado
consumo_clean_df = consumo_clean_df[1:] #quitar la fila
# consumo_clean_df =consumo_clean_df.columns.str.strip() #quitar los espacios

#ver primeras
print(importacion_clean_df.head())
print(consumo_clean_df.head())

importacion:
consumo:
0                Fecha Aceites lubricantes  Asfalto      Bunker Ceras  \
1  2001-01-01 00:00:00                   0  27748.99  214581.84     0
2  2001-02-01 00:00:00                   0   7503.57     294609     0
3  2001-03-01 00:00:00                   0  26304.32   315263.8     0
4  2001-04-01 00:00:00                   0   7885.89     205653     0
5  2001-05-01 00:00:00                   0   8443.16   278371.3     0

0 Combustible turbo jet Diesel bajo azufre Diesel ultra bajo azufre  \
1                     0                  0                        0
2                     0                  0                        0
3                     0                  0                        0
4                     0                  0                        0
5                     0                  0                        0

0 Gas licuado de petróleo Gasolina de aviación  ... Naftas Petcoke  \
1           194065.738095                  820  ...      0       0
2           170703.380952                 3054  ...      0       0
3           161837.371429                  677  ...      0       0
4           163048.642857                 3399  ...      0       0
5           171518.861905                  585  ...      0       0

0 Petróleo crudo Solventes Butano Diesel alto azufre   MTBE Orimulsión  \
1              0         0      0          566101.99   8402          0
2              0         0      0           489525.8      0          0
3              0         0      0          575559.68      0          0
4              0         0      0          437745.42   8184          0
5              0         0      0          552609.13  12680          0

0 Petróleo reconstituido Total importación
1                 715344    2312639.048095
2                 370166    1769208.760952
3                 360530    1945770.261429
4                 359527    1623637.762857
5                 723346    2262726.641905

[5 rows x 25 columns]
0                Fecha Aceites lubricantes Asfalto     Bunker Ceras  \
1  2000-01-01 00:00:00                   0   48446  296766.99     0
2  2000-02-01 00:00:00                   0   50597  328116.44     0
3  2000-03-01 00:00:00                   0   27593  368589.63     0
4  2000-04-01 00:00:00                   0   53794  396300.47     0
5  2000-05-01 00:00:00                   0   60137  449368.92     0

0 Combustible turbo jet Diesel bajo azufre Diesel ultra bajo azufre  \
1                     0                  0                        0
2                     0                  0                        0
3                     0                  0                        0
4                     0                  0                        0
5                     0                  0                        0

0 Gas licuado de petróleo Gas natural  ...  Kerosina Mezclas\noleosas Naftas  \
1            194410.47619         NaN  ...  64026.09                0      0
2           174710.552381         NaN  ...   62660.3                0      0
3           189234.066667         NaN  ...  61361.99                0      0
4           174330.607143         NaN  ...  61814.32                0      0
5           191745.147619         NaN  ...  54098.32                0      0

0 PetCoke Petróleo crudo Solventes Butano Diesel alto azufre Orimulsión  \
1       0              0         0      0          634667.06          0
2       0              0         0      0          642380.66          0
3       0              0         0      0          699807.25          0
4       0              0         0      0          586803.98          0
5       0              0         0      0           656948.2          0

0           Total
1   1750544.63619
2  1773220.222381
3  1909498.786667
4  1800932.857143
5  1941771.897619

[5 rows x 24 columns]

In [111]:

#mostrar las columnas
print("-- columnas --")
print("importacion:")
print(importacion_clean_df.columns) 
print("tamanio de importacion: " + str(importacion_clean_df.shape))
print("consumo:")
print(consumo_clean_df.columns)
print("tamanio de consumo: " + str(importacion_clean_df.shape))

-- columnas --
importacion:
Index(['Fecha', 'Aceites lubricantes', 'Asfalto ', 'Bunker', 'Ceras',
       'Combustible turbo jet', 'Diesel bajo azufre',
       'Diesel ultra bajo azufre', 'Gas licuado de petróleo',
       'Gasolina de aviación', 'Gasolina regular', 'Gasolina superior',
       'Grasas lubricantes', 'Kerosina', 'Mezclas oleosas', 'Naftas',
       'Petcoke', 'Petróleo crudo', 'Solventes', 'Butano',
       'Diesel alto azufre', 'MTBE', 'Orimulsión', 'Petróleo reconstituido',
       'Total importación'],
      dtype='object', name=0)
tamanio de importacion: (291, 25)
consumo:
Index(['Fecha', 'Aceites lubricantes', 'Asfalto', 'Bunker', 'Ceras',
       'Combustible turbo jet', 'Diesel bajo azufre',
       'Diesel ultra bajo azufre', 'Gas licuado de petróleo', 'Gas natural',
       'Gasolina de aviación', 'Gasolina regular', 'Gasolina superior',
       'Grasas lubricantes', 'Kerosina', 'Mezclas\noleosas', 'Naftas',
       'PetCoke', 'Petróleo crudo', 'Solventes', 'Butano',
       'Diesel alto azufre', 'Orimulsión', 'Total'],
      dtype='object', name=0)
tamanio de consumo: (291, 25)

In [112]:
#tamanio del dataset
print("importacion:")
print(str(importacion_clean_df.shape))
print("consumo:")
print(str(consumo_clean_df.shape))

importacion:
(291, 25)
consumo:
(303, 24)

In [113]:
#revisar el tipo de datos
print("importacion:")
print(str(importacion_clean_df.info()))
print("consumo:")
print(str(consumo_clean_df.info()))

importacion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 1 to 291
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     290 non-null    object
 1   Aceites lubricantes       288 non-null    object
 2   Asfalto                   288 non-null    object
 3   Bunker                    288 non-null    object
 4   Ceras                     287 non-null    object
 5   Combustible turbo jet     288 non-null    object
 6   Diesel bajo azufre        288 non-null    object
 7   Diesel ultra bajo azufre  288 non-null    object
 8   Gas licuado de petróleo   288 non-null    object
 9   Gasolina de aviación      288 non-null    object
 10  Gasolina regular          288 non-null    object
 11  Gasolina superior         288 non-null    object
 12  Grasas lubricantes        288 non-null    object
 13  Kerosina                  288 non-null    object
 14  Mezclas oleosas           288 non-null    object
 15  Naftas                    288 non-null    object
 16  Petcoke                   288 non-null    object
 17  Petróleo crudo            288 non-null    object
 18  Solventes                 288 non-null    object
 19  Butano                    288 non-null    object
 20  Diesel alto azufre        288 non-null    object
 21  MTBE                      288 non-null    object
 22  Orimulsión                288 non-null    object
 23  Petróleo reconstituido    288 non-null    object
 24  Total importación         288 non-null    object
dtypes: object(25)
memory usage: 57.0+ KB
None
consumo:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 1 to 303
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     302 non-null    object
 1   Aceites lubricantes       300 non-null    object
 2   Asfalto                   300 non-null    object
 3   Bunker                    300 non-null    object
 4   Ceras                     298 non-null    object
 5   Combustible turbo jet     300 non-null    object
 6   Diesel bajo azufre        300 non-null    object
 7   Diesel ultra bajo azufre  300 non-null    object
 8   Gas licuado de petróleo   300 non-null    object
 9   Gas natural               6 non-null      object
 10  Gasolina de aviación      300 non-null    object
 11  Gasolina regular          300 non-null    object
 12  Gasolina superior         300 non-null    object
 13  Grasas lubricantes        300 non-null    object
 14  Kerosina                  300 non-null    object
 15  Mezclas
oleosas           293 non-null    object
 16  Naftas                    300 non-null    object
 17  PetCoke                   300 non-null    object
 18  Petróleo crudo            300 non-null    object
 19  Solventes                 300 non-null    object
 20  Butano                    300 non-null    object
 21  Diesel alto azufre        300 non-null    object
 22  Orimulsión                300 non-null    object
 23  Total                     300 non-null    object
dtypes: object(24)
memory usage: 56.9+ KB
None

In [114]:
#contar nuls
print(importacion_clean_df.isnull().sum())
print(consumo_clean_df.isnull().sum())

0
Fecha                       1
Aceites lubricantes         3
Asfalto                     3
Bunker                      3
Ceras                       4
Combustible turbo jet       3
Diesel bajo azufre          3
Diesel ultra bajo azufre    3
Gas licuado de petróleo     3
Gasolina de aviación        3
Gasolina regular            3
Gasolina superior           3
Grasas lubricantes          3
Kerosina                    3
Mezclas oleosas             3
Naftas                      3
Petcoke                     3
Petróleo crudo              3
Solventes                   3
Butano                      3
Diesel alto azufre          3
MTBE                        3
Orimulsión                  3
Petróleo reconstituido      3
Total importación           3
dtype: int64
0
Fecha                         1
Aceites lubricantes           3
Asfalto                       3
Bunker                        3
Ceras                         5
Combustible turbo jet         3
Diesel bajo azufre            3
Diesel ultra bajo azufre      3
Gas licuado de petróleo       3
Gas natural                 297
Gasolina de aviación          3
Gasolina regular              3
Gasolina superior             3
Grasas lubricantes            3
Kerosina                      3
Mezclas\noleosas             10
Naftas                        3
PetCoke                       3
Petróleo crudo                3
Solventes                     3
Butano                        3
Diesel alto azufre            3
Orimulsión                    3
Total                         3
dtype: int64

In [115]:
#quitar los nuls y columnas innecesarias

# #eliminar la columna de gas natural porque tiene 297 datos faltantes de 303
# print(consumo_clean_df["Gas natural"].isnull().sum()) #igual, se eliminaria con las columnas que no son necesarias 
# consumo_clean_df.drop(columns="Gas natural", inplace=True)


#eliminar las columnas que no son de gasolinas regular super y diesel
colunmas_necesarias = [
    "Fecha", 
    "Gasolina regular", 
    "Gasolina superior", 
    "Diesel bajo azufre",
    "Diesel ultra bajo azufre",
    "Diesel alto azufre"
]

importacion_clean_df = importacion_clean_df[colunmas_necesarias]
consumo_clean_df = consumo_clean_df[colunmas_necesarias]

#dropear los datos faltantes
importacion_clean_df = importacion_clean_df.dropna()
consumo_clean_df = consumo_clean_df.dropna()

print(importacion_clean_df.isnull().sum())
print(consumo_clean_df.isnull().sum())

0
Fecha                       0
Gasolina regular            0
Gasolina superior           0
Diesel bajo azufre          0
Diesel ultra bajo azufre    0
Diesel alto azufre          0
dtype: int64
0
Fecha                       0
Gasolina regular            0
Gasolina superior           0
Diesel bajo azufre          0
Diesel ultra bajo azufre    0
Diesel alto azufre          0
dtype: int64

In [116]:
#convertir la columna de fecha a tipo datetime
importacion_clean_df["Fecha"] = pd.to_datetime(importacion_clean_df["Fecha"])

#separar los meses y anios
importacion_clean_df["Mes"] = importacion_clean_df["Fecha"].dt.month.astype(float)
# importacion_clean_df["Mes"] 
importacion_clean_df["Año"] = importacion_clean_df["Fecha"].dt.year.astype(float)

#convertir la columna de fecha a tipo datetime
consumo_clean_df["Fecha"] = pd.to_datetime(consumo_clean_df["Fecha"])

#separar los meses y anios
consumo_clean_df["Mes"] = consumo_clean_df["Fecha"].dt.month.astype(float)
# importacion_clean_df["Mes"] 
consumo_clean_df["Año"] = consumo_clean_df["Fecha"].dt.year.astype(float)

# Generar codebook

In [117]:
from pandas.api.types import is_numeric_dtype, is_datetime64_any_dtype

def generate_codebook_completo(df):
    records = []
    for col in df.columns:
        series = df[col]
        dtype = series.dtype
        missing_count = series.isnull().sum()

        # Valores posibles
        if series.apply(lambda x: isinstance(x, (dict, list))).any():
            safe_series = series.dropna().apply(lambda x: str(x))
        else:
            safe_series = series.dropna()

        uniques = safe_series.unique()
        if len(uniques) <= 20:
            posibles = uniques.tolist()
        else:
            posibles = f"{len(uniques)} valores unicos"

        # Estadisticas basicas
        if is_numeric_dtype(series):
            stats = series.describe().to_dict()
        elif is_datetime64_any_dtype(series):
            stats = {"min": series.min(), "max": series.max()}
        else:
            top = safe_series.mode().iloc[0] if not safe_series.mode().empty else None
            freq = safe_series.value_counts().iloc[0] if not safe_series.value_counts().empty else None
            stats = {"unique": safe_series.nunique(), "top": top, "freq": freq}

        records.append({
            "nombre": col,
            "descripcion": "",  #llenar 
            "tipo de dato": str(dtype),
            "unidades": "Barriles (42 galones)" if "Gasolina" in col or "Diesel" in col else "",
            "valores posibles": posibles,
            "valores especiales/faltantes": missing_count,
            "estadisticas basicas": stats,
            "fuente original": "Estadisticas historicas de comercializacion",
            "transformaciones": "dropna, filtrado columnas, conversión a datetime" if col == "Fecha" or "Gasolina" in col else "",
            "notas": ""
        })
    return pd.DataFrame(records)

# codebooks para importacion y consumo
codebook_importacion_final = generate_codebook_completo(importacion_clean_df)
codebook_consumo_final = generate_codebook_completo(consumo_clean_df)

In [118]:


#llenar la descripcion
codebook_importacion_final['descripcion'] = [
    "Fecha (año y mes) en que se registró la importación del combustible.",
    "Volumen importado de gasolina regular en el mes correspondiente.",
    "Volumen importado de gasolina superior en el mes correspondiente.",
    "Volumen importado de diésel con bajo contenido de azufre (normas ambientales).",
    "Volumen importado de diésel con ultra bajo contenido de azufre (normas más estrictas).",
    "Volumen importado de diésel con alto contenido de azufre (menos regulado).",
    "Mes (1-12) en que se realizó la importación. Generado a partir de la columna Fecha.",
    "Año en que se realizó la importación. Generado a partir de la columna Fecha.",

]
codebook_consumo_final['descripcion'] = [
    "Fecha (año y mes) en que se registró el consumo del combustible.",
    "Volumen de gasolina regular consumido en el mercado nacional en el mes correspondiente.",
    "Volumen de gasolina superior consumido en el mercado nacional en el mes correspondiente.",
    "Volumen consumido de diésel con bajo contenido de azufre.",
    "Volumen consumido de diésel con ultra bajo contenido de azufre.",
    "Volumen consumido de diésel con alto contenido de azufre",
    "Mes (1-12) en que se realizó el consumo. Generado a partir de la columna Fecha.",
    "Año en que se realizó el consumo. Generado a partir de la columna Fecha.",
]

#notas
codebook_importacion_final['notas'] = "Datos de importación y consumo de combustibles líquidos en Guatemala, se encuentra en el dataset de importaciones"
codebook_consumo_final['notas'] = "Datos de importación y consumo de combustibles líquidos en Guatemala, se encuentra en el dataset de consumo"



codebook_total = pd.concat([codebook_importacion_final, codebook_consumo_final], ignore_index=True)

#exportarlo a csv
codebook_total.to_csv('codebook_total.csv', index=False)
codebook_total.to_excel('codebook_total.xlsx', index=False)

In [119]:
codebook_total

,nombre,descripcion,tipo de dato,unidades,valores posibles,valores especiales/faltantes,estadisticas basicas,fuente original,transformaciones,notas
0,Fecha,Fecha (año y mes) en que se registró la import...,datetime64[ns],,288 valores unicos,0,"{'min': 2001-01-01 00:00:00, 'max': 2024-12-01...",Estadisticas historicas de comercializacion,"dropna, filtrado columnas, conversión a datetime",Datos de importación y consumo de combustibles...
1,Gasolina regular,Volumen importado de gasolina regular en el me...,object,Barriles (42 galones),288 valores unicos,0,"{'unique': 288, 'top': 81015.3, 'freq': 1}",Estadisticas historicas de comercializacion,"dropna, filtrado columnas, conversión a datetime",Datos de importación y consumo de combustibles...
2,Gasolina superior,Volumen importado de gasolina superior en el m...,object,Barriles (42 galones),288 valores unicos,0,"{'unique': 288, 'top': 170292.5, 'freq': 1}",Estadisticas historicas de comercializacion,"dropna, filtrado columnas, conversión a datetime",Datos de importación y consumo de combustibles...
3,Diesel bajo azufre,Volumen importado de diésel con bajo contenido...,object,Barriles (42 galones),85 valores unicos,0,"{'unique': 85, 'top': 0, 'freq': 204}",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
4,Diesel ultra bajo azufre,Volumen importado de diésel con ultra bajo con...,object,Barriles (42 galones),55 valores unicos,0,"{'unique': 55, 'top': 0, 'freq': 234}",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
5,Diesel alto azufre,Volumen importado de diésel con alto contenido...,object,Barriles (42 galones),205 valores unicos,0,"{'unique': 205, 'top': 0, 'freq': 84}",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
6,Mes,Mes (1-12) en que se realizó la importación. G...,float64,,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",0,"{'count': 288.0, 'mean': 6.5, 'std': 3.4580613...",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
7,Año,Año en que se realizó la importación. Generado...,float64,,24 valores unicos,0,"{'count': 288.0, 'mean': 2012.5, 'std': 6.9342...",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
8,Fecha,Fecha (año y mes) en que se registró el consum...,datetime64[ns],,300 valores unicos,0,"{'min': 2000-01-01 00:00:00, 'max': 2024-12-01...",Estadisticas historicas de comercializacion,"dropna, filtrado columnas, conversión a datetime",Datos de importación y consumo de combustibles...
9,Gasolina regular,Volumen de gasolina regular consumido en el me...,object,Barriles (42 galones),300 valores unicos,0,"{'unique': 300, 'top': 160741.9, 'freq': 1}",Estadisticas historicas de comercializacion,"dropna, filtrado columnas, conversión a datetime",Datos de importación y consumo de combustibles...
10,Gasolina superior,Volumen de gasolina superior consumido en el m...,object,Barriles (42 galones),300 valores unicos,0,"{'unique': 300, 'top': 300242.7816666665, 'fre...",Estadisticas historicas de comercializacion,"dropna, filtrado columnas, conversión a datetime",Datos de importación y consumo de combustibles...
11,Diesel bajo azufre,Volumen consumido de diésel con bajo contenido...,object,Barriles (42 galones),97 valores unicos,0,"{'unique': 97, 'top': 0, 'freq': 204}",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
12,Diesel ultra bajo azufre,Volumen consumido de diésel con ultra bajo con...,object,Barriles (42 galones),97 valores unicos,0,"{'unique': 97, 'top': 0, 'freq': 204}",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
13,Diesel alto azufre,Volumen consumido de diésel con alto contenido...,object,Barriles (42 galones),205 valores unicos,0,"{'unique': 205, 'top': 0, 'freq': 96}",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
14,Mes,Mes (1-12) en que se realizó el consumo. Gener...,float64,,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",0,"{'count': 300.0, 'mean': 6.5, 'std': 3.4578203...",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...
15,Año,Año en que se realizó el consumo. Generado a p...,float64,,25 valores unicos,0,"{'count': 300.0, 'mean': 2012.0, 'std': 7.2231...",Estadisticas historicas de comercializacion,,Datos de importación y consumo de combustibles...